._test_q0n8d_1{
  background: black;
}

._autoprefixer_q0n8d_5{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._cssnext_q0n8d_9{
  background-color: rgba(255, 0, 0, .9);
}

._precss_q0n8d_13{
  background-color: green
}