._test_12z2f_1{
  background: red;
}

._autoprefixer_12z2f_5{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._cssnext_12z2f_9{
  background-color: rgba(255, 0, 0, .9);
}

._precss_12z2f_13{
  background-color: green
}