.test{
  background: red;
}

.autoprefixer{
  display: flex;
}

.cssnext{
  background-color: color(red alpha(-10%));
}

.precss{
  @if 3 < 5{
    background-color:green;
  }
  @else{
    background-color:blue;
  }
}