<section>
  <div class="text-center figure">
    <from class="form-inline">
      <input type="" class="form-control" ng-model="vm.keyword">
      <button class="btn btn-success {{vm.style.title}}" ng-click="vm.searchBook();">搜索图书</button>
    </from>
  </div>
  <div>
    <div class="row" ng-repeat="item in vm.list">
      <div class="col-xs-2 text-center">
        <img ng-src="{{item.image}}">
      </div>
      <div class="col-xs-10">
        <h2>{{item.title}}</h2>
        <h3>{{item.author}}</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.summary}}</p>
      </div>
      <hr>
    </div>
  </div>
</section>